main {
  min-height: 100vh;
  background-color: var(--onboarding-main-bg-color);
}

nav {
  height: auto;
}

.text-yellow {
  color: var(--general-color-y);

}

.text-green {
  color: var(--general-color-g);
}

.onboarding-container {
  background-color: var(--onboarding-bg-color);
  border-radius: 14px;
  min-width: 360px;
  width: 100vw;
  max-width: 611px;
  padding: 48px 76px;
  margin: 50px 0;
  margin-bottom: -1px;
}

.onboarding-back {
  position: absolute;
  background: var(--onboarding-bg-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 22px;
  top: 50%;
  left: -100px;
  transform: translate(-100%, -50%);
  word-wrap: break-word;
  color: var(--onboarding-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.onboarding-back img {
  filter: invert(16%) sepia(50%) saturate(6404%) hue-rotate(181deg) brightness(87%) contrast(102%);
}

/* NAV  */
.language-switcher+.CTA-border-blue {
  background-color: var(--language-switcher-btn-bg-color);
}

.language-switcher {
  background-color: var(--language-switcher-bg);
  border-radius: 14px;
  border: 1px solid var(--language-switcher-border-color) !important;
  color: var(--language-switcher-text-color);
  padding: 3px;
  left: 0 !important;
  border: none;
  cursor: pointer;
}

.mobile-application-details img {
  filter: invert(65%) sepia(53%) saturate(3682%) hue-rotate(179deg) brightness(63%) contrast(94%);
  transform: scale(0.8);
}

/* NAV 4th container */
nav .CTA-blue {
  border: 1px solid var(--language-switcher-border-color) !important;
}

.mobile-nav {
  position: relative;
}

.mobile-nav::after {
  content: "";
  position: absolute;
  transform: translateX(-50%);
  left: 0;
  bottom: -15px;
  width: 200vw;
  height: 0.5px;
  background-color: rgba(24, 24, 24, 0.16);
}

.language-switcher+.CTA-border-blue:hover {
  border-color: var(--language-switcher-border-color-hover);
  background-color: var(--language-switcher-bg-color-hover);
}

/* .CTA-border-blue:hover img */

.language-switcher+.CTA-border-blue:hover img {
  filter: invert(18%) sepia(0%) saturate(11%) hue-rotate(168deg) brightness(189%) contrast(315%);
}

.language-switcher .dropdown-toggle>img[src="./assests/images/icons/flag-uk.svg"] {
  width: 20px;
}

.dropdown-menu img[src="./assests/images/icons/flag-uk.svg"] {
  width: 20px;
  /* Adjust the width as needed */
}

.dropdown>.dropdown-menu {
  left: -4px !important;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle::after {
  content: none;
}

/* MAIN 
2nd container */

.radio-input-text.with-icon input[type="radio"]+label {
  height: 110px;
}

.form-input.left-icon .input>.icon:nth-of-type(1) {
  right: auto;
  width: 30px;
  height: 30px;
  padding-right: 5px;
  border-right: 1px solid var(--input-left-icon-border-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-input.left-icon .input>.icon:nth-of-type(1) img {
  width: 20px;
}

.form-input.left-icon .icon+input {
  padding: 5px 55px;
}

/* 3rd COntianer */

.security-code-input {
  display: flex;
}

.security-code-input input[type="text"] {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  text-align: center;
  font-size: 18px;
  border: 1px solid var(--input-security-code-border);
  border-radius: 5px;
}

.security-code-input input[type="text"]:last-child {
  margin-right: 0;
}

.CTA-border-blue:hover img {
  filter: invert(18%) sepia(0%) saturate(11%) hue-rotate(168deg) brightness(189%) contrast(315%);
}

/* 4th container */
.multistep-container {
  background-color: var(--multtstep-contianer-bg-color);
  padding: 0 150px;
  height: calc(100% - 138px);
  overflow-y: auto;
  overflow-x: hidden;
}

.multistep-form-tabs {
  display: flex;
  margin: 30px 0;
}

.multistep-form-tabs>a {
  margin-right: 16px;
  flex: 1;
}

.multistep-form-tabs>a:nth-last-of-type(1) {
  width: fit-content;
  flex: 0;
  margin-right: 0;
}

.multistep-form-tabs>a .icon {
  border: 2px solid var(--multtstep-tabs-border-color);
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.multistep-form-tabs>a .icon img {}

.multistep-form-tabs>a p {
  color: var(--multtstep-tabs-text-color);
  margin-bottom: 0;
  margin-top: 14px;
}

.multistep-form-tabs>a span {
  color: var(--multtstep-tabs-text-color);
}

.multistep-form-tabs>a b {
  color: var(--multtstep-tabs-text-color);
}

.multistep-form-tabs>a b::before {
  content: "Pending";
}

.multistep-form-tabs>a .line {
  height: 3px;
  width: calc(100% + 15px);
  background-color: var(--multtstep-tabs-bg-color);
  margin-left: -15px;
  border-radius: 3px;
}

.multistep-form-tabs>a:nth-last-of-type(1) .line {
  display: none;
}

.multistep-form-tabs>.in-progress .line {
  filter: invert(16%) sepia(87%) saturate(2846%) hue-rotate(178deg) brightness(56%) contrast(51%);
}

.multistep-form-tabs>.in-progress>.icon h2 {
  color: var(--multtstep-tabs-inprogress-text-color);

}

.multistep-form-tabs>.in-progress .icon {
  /* filter: invert(16%) sepia(87%) saturate(2846%) hue-rotate(178deg) brightness(56%) contrast(51%); */
  background-color: var(--multtstep-tabs-inprogress-bg-color);
  border-color: var(--multtstep-tabs-inprogress-border-color);
}

.multistep-form-tabs>.in-progress .icon img {
  filter: invert(16%) sepia(87%) saturate(2846%) hue-rotate(178deg) brightness(56%) contrast(51%) brightness(0) saturate(100%) invert(100%);
}

.multistep-form-tabs>.in-progress>span {
  color: var(--multtstep-tabs-inprogress-text-color) !important;
}

.multistep-form-tabs>.in-progress b::before {
  content: "Inprogress";
}

.multistep-form-tabs>.in-progress>b {
  color: var(--multtstep-tabs-inprogress-text-b-color) !important;
}

.multistep-form-tabs>.completed .icon img {
  display: none;
}

.multistep-form-tabs>.completed .icon {
  border-color: var(--multtstep-tabs-completed-bg-color);
}

.multistep-form-tabs>.completed .icon::before {
  content: "";
  width: 18px;
  height: 9px;
  transform: translate(0%, -30%) rotate(-45deg);
  border-bottom: 2px solid var(--multtstep-tabs-completed-border-color);
  border-left: 2px solid var(--multtstep-tabs-completed-border-color);
}

.multistep-form-tabs>.completed b::before {
  content: "Completed";
}

.multistep-form-tabs>.completed>b {
  color: var(--multtstep-tabs-completed-text-b-color) !important;
}

.multistep-form-tabs>.completed .line {
  filter: invert(45%) sepia(68%) saturate(2307%) hue-rotate(75deg) brightness(87%) contrast(109%);
}

.multistep-form-tabs>.in-progress>h2 {
  color: var(--multtstep-tabs-inprogress-text-color) !important;
}

.multistep-form .in-progress .icon {
  /* filter: invert(16%) sepia(87%) saturate(2846%) hue-rotate(178deg) brightness(56%) contrast(51%); */
  background-color: var(--multtstep-tabs-inprogress-bg-color);
  border-color: var(--multtstep-tabs-inprogress-border-color);
}

.multistep-form .in-progress {
  padding-bottom: 43px;
  padding-top: 43px;
}

.multistep-form .in-progress .icon img {
  filter: invert(16%) sepia(87%) saturate(2846%) hue-rotate(178deg) brightness(56%) contrast(51%) brightness(0) saturate(100%) invert(100%);
}

.multistep-form .icon {
  border: 2px solid var(--multistep-form-icon-border-color);
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.multistep-form {
  padding: 0 23px;
  border: 1px solid var(--multistep-form-border);
  border-radius: 15px;
}

.accordion>div {
  border: 1px solid var(--multistep-form-border-accordian);
  border-radius: 15px;
  border-top: none;
}

.multistep-form .card-header {
  border: 1px solid var(--multistep-form-border-accordian);
  border-radius: 15px;
}

/* 5th container */
.application-summary {
  width: 100%;
  margin: auto;
  height: 126px;
  padding: 16px;
  border-radius: 15px;
  border: 1px solid var(--multistep-form-summary-border-color);
  margin-bottom: 15px;
  /* max-width: 360px     ; */
}

.application-summary .header .icon {
  width: 32px;
  height: 32px;
  background-color: var(--multistep-form-summary-header-bg-color);
  border: 0;
  margin-right: 10px;
}

/* .application-summary .header .icon img {
    filter: invert(16%) sepia(87%) saturate(2846%) hue-rotate(178deg) brightness(56%) contrast(51%) brightness(0) saturate(100%) invert(100%)
} */

.application-summary .footer p {
  color: var(--multistep-form-summary-footer-text-color);
}

.application-summary.completed .footer p span::before {
  content: "Completed";
}

.application-summary.incomplete .footer p span::before {
  content: "In-complete";
}

.application-summary.not-started .footer p span::before {
  content: "Not started yet";
}

.application-summary .footer .icon {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}

.application-summary.completed .footer .icon {
  border-color: var(--multistep-form-summary-completed-border-color);
  background-color: var(--multistep-form-summary-completed-bg-color);
  background-image: url(../images/icons/multistep-form/green-check.svg);
  background-size: 22px;
}

.application-summary.incomplete .footer .icon {
  border-color: var(--multistep-form-summary-incomplete-border-color);
  background-color: var(--multistep-form-summary-incomplete-bg-color);
  background-image: url(../images/icons/multistep-form/incomplete.svg);
  background-size: 22px;
}

.application-summary.not-started .footer .icon {
  border-color: var(--multistep-form-summary-notstarted-border-color);
  background-color: var(--multistep-form-summary-notstarted-bg-color);
  background-image: url(../images/icons/multistep-form/not-started.svg);
  background-size: 22px;
}

.multistep-container .onboarding-container {
  max-width: none;
}

.multistep-form .accordion::-webkit-scrollbar-track {
  background: transparent;
}

.multistep-form .accordion::-webkit-scrollbar-thumb {
  /* background-color: red; */
  border-right: none;
  border-left: none;
}

.multistep-form .accordion::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 10px;
}

.multistep-form .accordion::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 10px;
}

.multistep-form>div:nth-last-child(1) {
  border: 1px solid var(--multistep-form-border);
  border-radius: 0px;
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding: 0px 23px;
  margin: 0px -24px;
}

.multistep-container>div .onboarding-back {
  position: absolute;
  top: 50%;
  left: -100px;
  transform: translate(113%, 554%);
}

/* FOTTER  */
footer {
  background-color: var(--footer-bg-color);
  max-height: 50vh;
}

.footer-social-icons img {
  margin-right: 20px;
}

.profile-dropdown {
  width: 100%;
  overflow: hidden;
}

.profile-dropdown.active {
  animation-name: navAnimateUp;
  animation-duration: 1s;
  max-height: 100vh;
}

.profile-dropdown.nactive {
  animation-name: navAnimateDown;
  animation-duration: 0.4s;
  animation-delay: 0;
  max-height: 0;
}

/* media queries */
@keyframes navAnimateUp {
  from {
    max-height: 0;
  }

  to {
    max-height: 100vh;
  }
}

@keyframes navAnimateDown {
  from {
    max-height: 100vh;
  }

  to {
    max-height: 0;
  }
}

@media (max-width: 1200px) {
  .multistep-container {
    padding: 0 40px 0 70px;
  }
}

@media (max-width: 1400px) {
  .multistep-container {
    padding: 0 40px 0 70px;
  }

  nav>div span {
    display: none;
  }

  .onboarding-logo img {
    width: 200px;
  }
}

@media screen and (max-width: 991px) {
  .radio-input-text.with-icon input[type="radio"]+label {
    min-width: 0;
  }

  .font-20 {
    font-size: 16px;
  }

  .onboarding-back {
    position: static;
    background-color: transparent;
    transform: translate(0, 0);
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(21deg) brightness(70%) contrast(103%);
    margin-right: 6px;
    width: auto;
  }

  .onboarding-container>div:nth-last-child(1) {
    display: flex !important;
    flex-direction: column;
  }

  .multistep-container {
    padding: 20px;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* overflow: hidden; */
  }

  .multistep-form {
    border: 0;
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .multistep-container>div .onboarding-back {
    position: static;
    transform: translate(0, 0);
  }

  .multistep-form-tabs a p,
  .multistep-form-tabs a span,
  .multistep-form-tabs a b {
    display: none;
  }

  .multistep-form-tabs>a {
    margin-right: 5px;
  }

  .multistep-form-tabs>a .row {
    margin-left: -5px;
    margin-right: -5px;
  }

  .multistep-form-tabs>a .row .col {
    padding-left: 5px;
    padding-right: 5px;
  }

  .multistep-form-tabs>a .line {
    margin-left: -5px;
    width: calc(100% + 5px);
    height: 1.5px;
  }

  .multistep-form-tabs>a .icon {
    width: 36px;
    height: 36px;
  }

  .multistep-form>div:nth-last-child(1) {
    border-top: 0;
  }

  .multistep-form .in-progress {
    padding-top: 0px;
    padding-bottom: 20px;
  }

  
  .summary-btn {
    max-width: 360px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  main {
    background-color: white;
    overflow: hidden;
    min-height: 100vh;
  }

  .onboarding-container {
    padding: 20px;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .radio-input-text.with-icon input[type="radio"]+label {
    min-width: 0;
  }

  .onboarding-back {
    position: static;
    background-color: transparent;
    transform: translate(0, 0);
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(21deg) brightness(70%) contrast(103%);
    margin-right: 6px;
    width: auto;
  }

  .onboarding-container>div:nth-last-child(1) {
    display: flex !important;
    flex-direction: column;
  }

  .multistep-container {
    padding: 20px;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 992px) {
  .mobile-nav::after {
    display: none;
  }
}